body{
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  background-color: black;
  z-index: 5;
  border-bottom: 1px solid seashell;
}

header .container{
  display: flex;
  justify-content: space-between;
}

header .container img{
  margin-left: 10px;
  height: 50px;
}

header .container nav span{
  margin-left: 10px;
  text-decoration: underline;
}

.content{
  margin-top: 70px;
}

#missions img{
  width: 1200px;
  height: 700px;
}

#ourMission{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 50%;
  width: 1200px;
  background-color: black;
  z-index: 1;
}

#teaOfTheMonth{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#teaOfTheMonth img{
  width: 300px;
  height: 200px;
  margin-left: 20px;
}

#teaOfTheMonth p{
  margin-top: 10px;
}

#locations{
  background-image: url("../img/img-locations-background.jpg");
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1200px;
  height: 500px;
}

#locations h2{
  margin: 0;
  padding: 10px;
}

#locations img{
  position: absolute;
  width: 1200px;
  height: 500px;
}

.locations{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 40px;
  width: 300px;
  height: 380px;
  background-color: black;
  opacity: 1;
}

#contact{
  height: 200px;
}

footer{
  text-align: left;
  margin-left: 20px;
}
